*{
    margin: 0;
    padding: 0;
}

button{
    border: none;
}

.input-field{
    display: block;
    position: absolute;
    top: calc(50% - calc(421.8px / 2));
    left: calc(50% - calc(313px / 2));
    transform: scale(0);
    transition: 0.1s linear;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 100%;
    background: black;
    position: fixed;
    top: 0;
}

.add-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7vh;
    font-size: 40px;
    background-color: red;
    border: 5px solid white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /* transform: rotate(90deg); */
    transition: transform 0.5s; 
}

.rotate{
    transform: rotate(225deg) scale(1.2);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 300px; */
    padding: 40px;
    border-radius: 40px;
    background-color: yellow;
    /* transition: 1s linear; */
}

.form-container input[type=text]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container button{
    background-color: black;
    color: white;
    border: none;
}

.book-container{
    display: grid;
    margin-top: 85px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
}

.book{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 2rem;
    margin: 1rem;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), 
    0 2px 2px rgba(0,0,0,0.1), 
    0 4px 4px rgba(0,0,0,0.1), 
    0 8px 8px rgba(0,0,0,0.1),
    0 16px 16px rgba(0,0,0,0.1);
}