*{
    margin: 0;
    padding: 0;
}

.input-field{
    display: none;
    position: absolute;
    top: calc(50% - calc(421.8px / 2));
    left: calc(50% - calc(313px / 2));
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    background: black;
    position: fixed;
    top: 0;
}

.add-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    font-size: 40px;
    background-color: red;
    border: 10px solid white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: rotate(90deg);
    transition: transform 0.5s;
}

.add-button:active{
    transform: rotate(-90deg);
  transition:  0s;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 300px; */
    padding: 40px;
    border-radius: 40px;
    background-color: yellow;
    /* transition: 1s linear; */
}

.form-container input[type=text]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container button{
    background-color: black;
    color: white;
    border: none;
}

.book-container{
    display: grid;
    margin-top: 85px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
}

.book{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 2rem;
    margin: 1rem;
}

.name{
    /* font-size: 30rem; */
}